{% extends "layout.html" %}

<!DOCTYPE html>
<head>
    {% block head %}
    <title>User Registeration</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h1>User Registeration Form</h1>
    <form action={% if type == "register" %}{% url 'core:user_register' %}{% else %}{% url 'core:user_update' %}{% endif %} method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Submit</button><br/>
    </form>

    <a href={% url 'core:index' %}>Homepage</a>
    {% endblock %}
</body>