{% extends "layout.html" %} 

<style>
    #item-image {
        max-width: 200px;
    }
</style>

{% block head %} 
<title>Index</title>
{% endblock %} 


{% block body %} 
<h1>Items:</h1>
<div>
    {% for item in item_list %} 
        {% if item.image %} 
            <div id="item-image">
                <img src="{{ item.image.url }}" alt="{{ item.name }}" />
            </div>
        {% endif %} 
        <h3 style="color:orangered">{{ item.name }}</h3>
        {% if item.description %} 
            <li>{{ item.description }}</li>
        {% endif %}
        <p style="color:chartreuse"><b>Price: {{ item.price }}</b></p>
        <a href={% url 'core:item_details' item.pk %}><button type="button">Go to Item</button></a><br/>
        <hr>
    {% empty %} 
        <p>No items available yet!</p>
    {% endfor %}

</div>
{% endblock %}
