{% extends "layout.html" %} 

<head>
    {% block head %} 
    <title>Profile</title>
    {% endblock %} 
</head>

<body>
    {% block body %} 
    <h2>User Profile</h2>
    <div>
        <p><b>Username:</b> {{user.username}}</p>
        <p><b>Email Address:</b> {{user.email}}</p>
        {% if user.first_name %} 
            <p><b>First Name:</b> {{user.first_name}}</p>
        {% endif %} 
        {% if user.last_name %} 
            <p><b>Last Name:</b> {{user.last_name}}</p>
        {% endif %} 

        

    </div>
    <p><a href={% url 'core:user_item_list' user.pk %}><button type="button">User Items</button></a></p>
    {% if request.user.pk == user.pk %} 
    <p><a href={% url 'core:user_logout' %}><button type='button'>Logout</button></a></p>
    <p><a href={% url 'core:user_update' %}><button type='button'>Edit Profile</button></a></p>
    {% endif %} 
    <p><a href={% url 'core:index' %}><button type="button">Homepage</button></a><br/><br/></p>

    {% endblock %}
</body>